@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --primaryColor:#1282a2;
    --blueColor:#1c2d45;
    --whiteColor:#fff;
    --blackColor:#333;
    --textColor: #5A5A5A;

}

*, *:before, *:after{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    font-family:'Poppins', sans-serif;
    overflow-x:hidden;
}
.container{
    position:relative;
    width:100%;
}
.logo{
    display:flex;
    align-items:center;
    cursor: pointer;
}
.navigation img{
    width:40px;
    margin-right:0.6rem;
    margin-top:0.6rem;
}
.title-logo{
    margin-right:0.6rem;
    margin-top:0.6rem;
    color:var(--whiteColor);
    font-size: 1.55rem;
    line-height:1.2;
    font-weight:700;
    
}

.navigation{
    position:fixed;
    width:300px;
    height:100%;
    background:var(--primaryColor);
    border-left: 10px solid var(--primaryColor);
    transition:0.5s;
    overflow:hidden;
}

.navigation.active{
    width:70px;
}

.navigation ul{
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
.navigation ul li{
    position:relative;
    width:100%;
    list-style:none;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background-color:var(--whiteColor);
}
.navigation ul li:nth-child(1){
    margin-bottom:40px;
    pointer-events:none;
}
.navigation ul li a{
    position:relative;
    display:block;
    width:100%;
    display:flex;
    text-decoration:none;
    color:var(--whiteColor);
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
    color:var(--primaryColor);
}

.navigation ul li a .icon{
    position:relative;
    display:block;
    min-width:60px;
    height:60px;
    line-height:35px;
    text-align:center;
}
.navigation ul li a .icon i {
    font-size:1.75rem;

}
.navigation ul li a .title {
    position:relative;
    display:block;
    padding:0 10px;
    height:60px;
    line-height:40px;
    text-align:start;
    white-space:nowrap;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content:"";
    position:absolute;
    right:0;
    top:-50px;
    width:50px;
    height:50px;
    background-color:transparent;
    border-radius:50%;
    box-shadow:35px 35px 0 10px var(--whiteColor);
    pointer-events:none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content:"";
    position:absolute;
    right:0;
    bottom:-50px;
    width:50px;
    height:50px;
    background-color:transparent;
    border-radius:50%;
    box-shadow:35px -35px 0 10px var(--whiteColor);
    pointer-events:none;
}

.main{
    position:absolute;
    width:75%;
    left:300px;
    min-height:100vh;
    background:var(--whiteColor);
    transition:0.5s;
}
.main.active{
    width:90%;
    left:80px;
}
.topbar{
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 10px;
}
.toggle{
    position:relative;
    width:60px;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2.5rem;
    cursor:pointer;
}

.search{
    position:relative;
    height:32px;
    width:100%;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    
}
.search-input{
    font-size:1rem;
    position:relative;
    width:300px;
    height:32px;
    padding:1rem;
    border-width:1px;
    border-color:var(--primaryColor);
    float:right;
    
}
.search-btn{
    padding: .55rem;
    color: var(--whiteColor)!important;
    background-color:var(--primaryColor);
    text-transform:capitalize;
    transition: .3s;
    border:none;
    margin-left:-0.3rem;
    margin-bottom:0.2rem;
    float:right;
    
}
 
.search-btn:hover{
    background-color:var(--blueColor);
    transform: scale(1) !important;
 }
.search label input{
    width:100%;
    height:40px;
    border-radius:40px;
    padding: 10px 20px;
    padding-left:35px;
    font-size:18px;
    outline:none;
    border:1px solid var(black);
    display:inline-block;
}
.card-box{
    position:relative;
    width:100%;
    padding:20px;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap:30px;
}
.card-box .card{
    position:relative;
    background: var(--whiteColor);
    padding:30px;
    border-radius:20px;
    display:flex;
    justify-content:space-between;
    cursor:pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.card-box .card .numbers{
    position:relative;
    font-weight:500;
    font-size:2.5rem;
    color:var(--primaryColor);
}
.card-box .card .card-name{
    color:var(--blackColor);
    font-size:1.1rem;
    margin-top:5px;
}
.card-box .card .icon-bx{
    font-size:3.5rem;
    color:var(--blackColor);
}
.icon-bx i{
    color:var(--primaryColor);
}
.card-box .card:hover .numbers,
.card-box .card:hover .card-name,
.card-box .card:hover .icon-bx,
.card-box .card:hover .icon-bx i{
    color:var(--blueColor);
}

.details{
    position:relative;
    width:100%;
    padding:20px;
    display:grid;
    grid-template-columns:2fr 1fr;
    grid-gap:30px;
    margin: top 10px;
}
.details .recent-orders{
    position:relative;
    display:grid;
    min-height:500px;
    background: var(--whiteColor);
    padding:20px;
    box-shadow:0 7px 25px rgba(0,0,0,0.08);
    border-radius:20px;
}
.details .card-header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}
.card-header h2{
    font-weight:600;
    color: var(--blueColor);
}
.card-header .btn{
    position:relative;
    padding:5px 10px;
    background: var(--blueColor);
    text-decoration:none;
    color:var(--whiteColor);
    border-radius:6px;
}
.details table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
}
.details table thead td{
    font-weight:600;
}

.details .recent-orders table tr{
    color:var(--blackColor);
    border-bottom:1px solid rgba(0,0,0,0.1);
}
.details .recent-orders table tr:last-child{
    border-bottom:none;
}


.details .recent-orders table tbody tr:hover{
    background:var(--blueColor);
    color:var(--whiteColor);
}
.details .recent-orders table tr td{
    padding:10px;

}
.details .recent-orders table tr td:last-child{
    text-align:end;
}
.details .recent-orders table tr td:last-child(2){
    text-align:end;
}
.details .recent-orders table tr td:last-child(3){
    text-align:end;
}
.recent-customers{
    position:relative;
    display:grid;
    min-height:500px;
    padding:20px;
    background: var(--whiteColor);
    box-shadow:0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius:20px;
}
.recent-customers .img-bx{
    position:relative;
    width:40px;
    height:40px;
    border-radius:50px;
    overflow:hidden;
}

.recent-customers .imgbx img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
.recent-customers table tr:hover{
    background:var(--blueColor);
    color: var(--whiteColor);
}
.recent-customers table tr td{
    padding:12px 10px;
}
.recent-customers table tr td h4{
    font-size:16px;
    font-weight:500;
    line-height:1.2rem;
}
.recent-customers table tr td h4 span{
    font-size:14px;
    color: var(--blackColor);
}
.recent-customers table tr:hover{
    background: var(--blueColor);
    color:var(--whiteColor)
}
.recent-customers table tr:hover td h4 span{
    color: var(--whiteColor);
}

.modal{
    background:rgba(0, 0, 0, 0.4);
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-content: center;
    display: none;
}

.modal-content{
    padding: 5rem;
    position: relative;
    margin: 15rem 0 15rem 0;
    border-radius: 15px;
    background: white;
    color:var(--primaryColor);
    text-align:center;
}

.modal-close{
    width:100px;
    background-color:var(--primaryColor);
    margin:1rem;
    border:var(--whiteColor);
    border-width:3px;
    font-size:1.2rem;
}

.modal-close a{
    color:white;
}
@media (max-width:991px){
    .navigation{
        left:-300px;
}
.navigation.active{
    width:300px;
    left:0;
}
.main{
    width:100%;
    left:0;
}
.main.active{
    left:300px;
}
.card-box{
    grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:768px){
    .details{
        grid-template-columns:1fr;
    }
    .recent-orders{
        overflow-x:auto;
    }
}
@media(max-width:480px){
    .card-box{
        grid-template-columns:repeat(1, 1fr);

    }
    .card-header h2{
        font-size:20px;
    }
    .user{
        min-width:40px;
    }
    .navigation{
        width:100%;
        left:-100%;
        z-index:1000;
    }
    .navigation.active{
        width:100%;
        left:0;
    }
    .toggle{
        z-index:10001;
    }
    .main.active .toggle{
        color: var(--whiteColor);
        position:fixed;
        right:0;
        left:initial;
    }
}
.page-title{
    text-align: center;
    font-size:clamp(1rem, 4vw, 1.75rem);
    color:var(--primaryColor);
    text-transform:uppercase;
    line-height:1.4;

}
.table_responsive {
    background-color: #efefef33;
    padding: 5px;
    overflow: auto;
    margin:5px;
    border-radius: 4px;
    width: 100%;
    
}

table {
    width: 100%;
    font-size: 10px;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse;
}

table>thead {
    background-color:var(--primaryColor);
    color: #fff;
}

table>thead th {
    padding: 15px;
}

table th,
table td {
    border: 1px solid #00000017;
    padding: 5px 10px;
}

table>tbody>tr>td>img {
    display: inline-block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px #0003;
}

.btn{
    margin:auto;
    display:inline-block;
    color:var(--primaryColor);
    background-color:transparent;
    text-transform:capitalize;
    transition: .3s;
    border:none;
}

.btn:hover{
    color:var(--blueColor);
    transform: scale(1) !important;
}
.edit-btn{
    color:var(--primaryColor);
}
.delete-btn{
    color:var(--primaryColor);
}
table>tbody>tr {
    background-color: #fff;
    transition: 0.3s ease-in-out;
}


table>tbody>tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

table>tbody>tr:hover{
    filter: drop-shadow(0px 2px 6px #0002);
}

.box button{
    font-size: large;  
    background-color:var(--primaryColor);  
    color:var(--whiteColor);
    border: 1px solid #ffffff;
    padding:2px;
}


.box select{
    font-size: large;  
    background-color: var(--primaryColor);
    color: #fff;
    border: 1px solid #ffffff;
}

.box{
    color: var(--primaryColor);
    margin: 0px 30px;
    font-size: large;
    font-weight: bold;
}

.box div, .box ul {
    float: right;
}
    